*{
    margin: 0px;
    padding: 0px;
    font-family: merriweather;
}

.bg{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.bg-image {
    display: flex;
    justify-content: center;
    background-image: url('resources/Banner\ Image.png');
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    margin: 50px 200px 0px 300px;
}

.bg-text{
    color: #FFFFFF;
    font-weight: 700;
    
    padding: 200px 500px;
    
}
.small{
    font-family: merriweather;
    font-size:20px;
    padding: 20px;
}
.large{
    font-family: merriweather;
    font-size: 50px;
    
}
.offer{
    margin-top: 90px;
    font-family: inter;
}
.image-class{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.party{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.party{
    display: flex;
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 100px;
    justify-content: space-between;
    padding:40px;
}


.party-head{
    color:white;
    margin-top:100px;
    margin-left:100px;

}