*{
    margin: 0px;
    padding: 0px;
    font-family: merriweather;
}

.bg{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.bg-image {
    display: flex;
    justify-content: center;
    background-image: url('resources/Banner\ Image.png');
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    margin: 50px 200px 0px 300px;
}

.bg-text{
    color: #FFFFFF;
    font-weight: 700;
    
    padding: 200px 500px;
    
}
.small{
    font-family: merriweather;
    font-size:20px;
    padding: 20px;
}
.large{
    font-family: merriweather;
    font-size: 50px;
    
}
.offer{
    margin-top: 90px;
    font-family: inter;
}
.image-class{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.party{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.party{
    display: flex;
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 100px;
    justify-content: space-between;
    padding:40px;
}


.party-head{
    color:white;
    margin-top:100px;
    margin-left:100px;

}
.time{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 100px;
    background: linear-gradient(to bottom, rgb(244, 178, 178),white);
}

.time .details{
    width: 1320px;
    height: 480px;
    color: #070211;    
    text-align: center;
    font-weight: 800;
}
.product-items img{
    padding: 20px;
    margin-bottom: 20px; 
    width: 350px;
    height: 300px;
}

.product-items img:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 50px rgb(0, 254, 0);
}

.last{
    display: flex;
    justify-content: center;
    margin: 40px;
    text-align: center;
}

.contents{
    text-align: center;
    border-radius:20px;
    width: 1320px;
    height: 610px;
    padding-top:200px;
    background-color: rgba(255, 0, 0, 0.05);
}
/* .email{
    background-color: white;
    width:648px;
    height:72px;
    text-align: center;
    margin-top: 50px;
    margin-left:350px;
    border-radius: 150px;
} */

.email {
    position: relative;
    background-color: white;
    width: 648px;
    height: 72px;
    text-align: left bottom;
    margin-top: 50px;
    margin-left: 350px;
    border-radius: 150px;
    overflow: hidden; 
}

.email::after {
    content: "Subscribe";
    color:white;
    position: absolute;
    padding-top:25px;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: red;
}
.email-text{
    align-items:left;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #070211;
    width: 100%;
    height: 609px;
    
}
.foot-left p{
    font-family: inter;
}
.foot-right{
    padding: 100px 150px 100px 490px;
    font-family: inter;
}
